<!DOCTYPE html>
<html>
    <head>
        <title>WebApp - Home</title>
    </head>
    <body>
        <h1>Welcome, <%= username %>!</h1>
        <button id="logout">Log Out</button>

        <script>
            const logoutButton = document.querySelector("#logout")

            logoutButton.addEventListener("click", () => document.location.href = "/auth/logout")
        </script>
    </body>
</html>